@import './base/minireset';
$primary-background-color: #F0F0F0;

/* --------------------------------------------------------------------
	フォント
--------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&amp;display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@font-face {
	font-family: 'Optima';
	src: url(../fonts/OPTIMA.ttf) format('truetype');
}
@font-face {
	font-family: 'YuGothicM';
	src: url(../fonts/yugothic.ttf) format('truetype');
}
@font-face {
	font-family: 'YuGothicB';
	src: url(../fonts/yugothib.ttf) format('truetype');
}
/* --------------------------------------------------------------------
	common　共通エレメント
-------------------------------------------------------------------- */

html,body{
    font-family: 'Optima', sans-serif;
	overflow-x: hidden;
	background-color: $primary-background-color;
	@include media-screen($tablet){
		background-color: white;
	}
}
.header-wrapper{
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	background: #000;
	padding: 24px 60px;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	@include media-screen($tablet){
		flex-direction: column;
		gap: calc(40/750 * 100vw);
		padding: calc(24/750 * 100vw) calc(60/750 * 100vw);
	}
	.logo{
		img{
			display: block;
		}
	}
	.detailsMenuItem{
		display: flex;
		gap: 80px;
		@include media-screen($tablet){
			gap: 0;
		}
		&__box{
			@include media-screen($tablet){
				border-right: 1px solid #535353;
				padding-right: calc(50/750 * 100vw);
				padding-left: calc(50/750 * 100vw);
				&:first-of-type{
					padding-left: 0;
				}
				&:last-of-type{
					padding-right: 0;
					border-right: none;
				}
			}
			&--out{
				font-family: 'Optima';
				font-weight: normal;
				font-size: 16px;
				letter-spacing: 0.05em;
				line-height: 21px;
				text-align: left;
				color: #808080;
				padding: 5px 0;
				cursor: pointer;
				display: flex;
				gap: 10px;
				align-items: center;
				&.active{
					color: white;
					&::after{
						filter: none;
					}
				}
				@include media-screen($tablet){
					font-size: calc(28/750 * 100vw);
					display: block;
					gap: 0;
					white-space: nowrap;
				}
				
				&::after{
					content: '';
					background: url(../img/arrow_down.svg) no-repeat;
					display: block;
					width: 9px;
					height: 5px;
					object-fit: contain;
					filter: invert(57%) sepia(11%) saturate(16%) hue-rotate(2deg) brightness(86%) contrast(82%);
					@include media-screen($tablet){
						display: none;
					}
				}

				&.disableDrop{
					&::after{
						display: none;
					}
				}
				&:hover{
					+ {
						.detailsMenuItem__box--content{
							display: block;
						}	
					}
				}
			}
			&--content{
				position: fixed;
				z-index: 10;
				background: white;
				padding: 18px 30px;
				box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
				@include media-screen($tablet){
					padding: calc(60/750 * 100vw) calc(56/750 * 100vw);
					left: 20px; 
					margin-top: calc(23/750 * 100vw);
				}
				display: none;
				&:hover{
					display: block;
				}
				&_body{
					display: flex;
					gap: 60px;
					@include media-screen($tablet){
						gap: calc(76/750 * 100vw);
						flex-direction: column;
					} 
					.item_text{
						font-family: 'Optima';
						font-weight: normal;
						font-size: 10px;
						letter-spacing: 0.05em;
						line-height: 21px;
						text-align: left;
						color: #ccc;
						margin-bottom: 10px;
						&.active{
							color: #000;
						}
						@include media-screen($tablet){
							flex-direction: column;
							font-size: calc(20/750 * 100vw);
							letter-spacing: 0.05em;
							line-height:  calc(31/750 * 100vw);
							margin-bottom: calc(44/750 * 100vw);

						} 
					}
					ul{
						@include media-screen($tablet){
							display: grid;
							grid-gap: calc(28/750 * 100vw) calc(89/750 * 100vw);
							grid-template-columns: 1fr 1fr;
							font-size: calc(25/750 * 100vw);
							line-height:  calc(31/750 * 100vw);
							flex-wrap: wrap;
						} 
						li{
							margin-top: 6px;
							a{
								font-family: 'Optima';
								font-weight: normal;
								font-size: 13px;
								letter-spacing: 0.05em;
								line-height: 21px;
								text-align: left;
								color: #ccc;
								cursor: pointer;
								@include media-screen($tablet){
									flex-direction: column;
									font-size: calc(25/750 * 100vw);
									line-height:  calc(31/750 * 100vw);
								} 
								&.active{
									color: #000;
								}
							}
							

							
						}
					}
				}
			}
		}
		// a{
		// 	font-family: 'Optima';
		// 	font-weight: normal;
		// 	font-size: 16px;
		// 	letter-spacing: 0.05em;
		// 	line-height: 21px;
		// 	text-align: left;
		// 	color: #808080;
		// 	cursor: pointer;
		// 	margin-left: 80px;
		// 	&:first-child{
		// 		margin-left: 10px;
		// 	}
		// }
	}
}

.main-wrapper{
	.main_banner{
		position: relative;
		&_intro{
			position: absolute;
			top: 57%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 80%;

			.mainTitle{
				font-family: 'Optima';
				font-weight: normal;
				font-size: 72px;
				letter-spacing: 0.08em;
				line-height: 32px;
				text-align: center;
				color: #fff;
				text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
				white-space: nowrap;
				@include media-screen($tablet){
					font-size: calc(96/750 * 100vw);
					letter-spacing: 0.08em;
					line-height: calc(32/750 * 100vw);
				}
			}
			.subTitle{
				font-family: 'YuGothicM';
				font-weight: 500;
				font-size: 14px;
				letter-spacing: 0.05em;
				line-height: 26px;
				text-align: center;
				color: #fff;
				text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
				margin-top: 30px;
				@include media-screen($tablet){
					font-size: calc(24/750 * 100vw);
					letter-spacing: 0.05em;
					line-height: calc(38/750 * 100vw);
					margin-top: calc(38/750 * 100vw);
					display: block;

				}

			}
			
		}
		.scroll_down{
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			animation: scroll-down 2s infinite;
		}
	}
	.product_list{
		max-width: 1280px;
		width: 96%;
		margin: auto;
		@include media-screen($tablet){
			width: 94%;
		}
		&--head{
			font-family: 'Optima';
			font-weight: normal;
			font-size: 40px;
			letter-spacing: 0.05em;
			line-height: 1.2;
			text-align: center;
			color: #000;
			margin-top: 140px;
			@include media-screen($tablet){
				font-size: calc(64/750 * 100vw);
				margin-top: calc(128/750 * 100vw);

			}
		}
		&--block{
			margin-top: 75px;
			border-top: 1px solid #808080;
			@include media-screen($tablet){
				margin-top: calc(100/750 * 100vw);

			}
			&:not(:first-of-type){
				margin-top: 160px;
				@include media-screen($tablet){
					margin-top: calc(200/750 * 100vw);
				}
			}
			&_title{
				font-family: 'Optima';
				font-weight: normal;
				font-size: 50px;
				line-height: 1;
				letter-spacing: 0.05em;
				text-align: left;
				color: #000;
				margin-top: 25px;
				@include media-screen($tablet){
					font-size: calc(80/750 * 100vw);
					margin-top: calc(25/750 * 100vw);
				}
			}
			&_content{
				margin-top: 55px;
				position: relative;
				@include media-screen($tablet){
					margin-top: calc(55/750 * 100vw);
				}
				&:not(:first-of-type){
					margin-top: 70px;
				}
				&_text{
					font-family: 'Optima';
					font-weight: normal;
					font-size: 26px;
					letter-spacing: 0.05em;
					text-align: left;
					color: #000;
					display: flex;
					align-items: center;
					gap: 10px;
					position: relative;
					@include media-screen($tablet){
						font-size: calc(40/750 * 100vw);
					}
					&::before{
						content: '';
						width: 0;
						height: 0;
						border-left: 5px solid transparent;
						border-right: 5px solid transparent;
						border-top: 10px solid #000;
					}
				}
				.productSlider{
					margin-top: 30px;
					display: flex;
					gap: 16px;
					@include media-screen(1335px){
						margin-top: calc(30/1335 * 100vw);
						gap: calc(16/1335 * 100vw);
					}
					@include media-screen($tablet){
						display: grid;
						grid-gap: 20px;
						grid-template-columns: 1fr 1fr;
						margin-top: calc(48/750 * 100vw);

					}
					li{
						width: 200px;
						@include media-screen(1335px){
							width: calc(200/1335 * 100vw);
						}
						@include media-screen($tablet){
							width: 100%;
						}
						.product_image{
							width: 200px;
							height: 240px;
							background: white;
							display: flex;
							align-items: center;
							justify-content: center;
							@include media-screen(1335px){
								width: calc(200/1335 * 100vw);
								height: calc(240/1335 * 100vw);
								padding: 20px ;
							}
							@include media-screen($tablet){
								width: 100%;
								height: calc(400/750 * 100vw);

							}
							
						}
						.product_name{
							font-family: 'Roboto';
							font-weight: normal;
							font-size: 14px;
							letter-spacing: 0.04em;
							line-height: 19px;
							text-align: left;
							color: #727272;
							margin-top: 16px;

						}
						.product_price{
							font-family: 'Roboto';
							font-weight: normal;
							font-size: 10px;
							letter-spacing: 0.04em;
							line-height: 18px;
							text-align: left;
							color: #727272;
						}
						
					}
				}

				.viewAll{
					width: 144px;
					height: 32px;
					background: #000;
					font-family: 'Optima';
					font-weight: normal;
					font-size: 15px;
					letter-spacing: 0.05em;
					line-height: 32px;
					text-align: center;
					color: #fff;
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					@include media-screen($tablet){
						font-size: calc(20/750 * 100vw);
						width: calc(144/750 * 100vw);
						height: calc(45/750 * 100vw);
						line-height: calc(50/750 * 100vw);
					}
				}

			}
		}
	}

	.gift_kit{
		background: #000;
		margin-top: 150px;
		padding-top: 100px;
		padding-bottom: 100px;
		@include media-screen($tablet){
			padding-top: calc(128/750 * 100vw);
			padding-bottom: calc(80/750 * 100vw);
			margin-top: calc(184/750 * 100vw);
		}
		h2{
			font-family: 'Optima';
			font-weight: normal;
			font-size: 50px;
			letter-spacing: 0.05em;
			line-height: 30px;
			text-align: center;
			color: #fff;
			@include media-screen($tablet){
				font-size: calc(80/750 * 100vw);
			}
		}
		&--box{
			max-width: 990px;
			width: 96%;
			margin: auto;
			margin-top: 50px;
			display: flex;
			gap: 20px;
			justify-content: space-between;
			@include media-screen($tablet){
				flex-direction: column;
				width: 94%;
				margin-top: calc(80/750 * 100vw);
				gap: calc(64/750 * 100vw);

			}
			&_image{
				img{
					@include media-screen($tablet){
						width: 100%;
					}
				}
			}
			&_text{
				max-width: 360px;
				width: 100%;
				@include media-screen($tablet){
					max-width: 100%;
				}
				h3{
					font-family: 'Optima';
					font-weight: normal;
					font-size: 30px;
					letter-spacing: 0.05em;
					line-height: 30px;
					text-align: left;
					color: #fff;
					@include media-screen($tablet){
						font-size: calc(42/750 * 100vw);
					}
				}
				p{
					font-family: 'Optima';
					font-weight: normal;
					font-size: 16px;
					letter-spacing: 0.05em;
					line-height: 30px;
					text-align: left;
					color: #fff;
					margin-top: 20px;
					@include media-screen($tablet){
						font-size: calc(26/750 * 100vw);
						margin-top: calc(20/750 * 100vw);
						line-height: calc(44/750* 100vw);
					}
				}
				a{
					margin-top: 60px;
					display: block;
					font-family: 'Optima';
					font-weight: normal;
					font-size: 16px;
					letter-spacing: 0.05em;
					line-height: 30px;
					text-align: center;
					color: #000;
					background: white;
					width: 360px;
					height: 68px;
					display: flex;
					justify-content: center;
					align-items: center;
					@include media-screen($tablet){
						margin-top: calc(90/750 * 100vw);
						line-height: 1;
						width: 100%;
						max-width: 660px;
						margin-left: auto;
						margin-right: auto;
						font-size: calc(26/750 * 100vw);
						height: calc(128/750 * 100vw);
					}
				}
			}
		}
	}
}


.footer-wrapper{
	background-color: white;
	padding-top: 160px;
	padding-bottom: 100px;
	@include media-screen($tablet){
		padding-top: calc(144/750 * 100vw);
		padding-bottom: calc(120/750 * 100vw);
	}
	.link{
		width: 420px;
		height: 80px;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid #000;
		margin: auto;
		position: relative;
		@include media-screen($tablet){
			width: calc(670/750 * 100vw);
			height:calc(128/750 * 100vw);
		}

		a{
			font-family: 'Optima';
			font-weight: normal;
			font-size: 18px;
			letter-spacing: 0.07em;
			line-height: 1;
			text-align: center;
			color: #000;
			@include media-screen($tablet){
				font-size: calc(26/750 * 100vw);

			}
			&::after{
				content: '';
				background: url(../img/arrow_right.svg) no-repeat;
				width: 30px;
				height: 4px;
				background-size: contain ;
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 30px;
			}
		}

	}

	.follow{
		margin-top: 100px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 240px;
		text-align: center;
		@include media-screen($tablet){
			width: calc(444/750 * 100vw);
			margin-top: calc(115/750 * 100vw);
		}
		&_text{
			font-family: 'Optima';
			font-weight: normal;
			font-size: 18px;
			letter-spacing: 0.07em;
			text-align: center;
			color: #000;
			@include media-screen($tablet){
				font-size: calc(28/750 * 100vw);
				margin-top: calc(115/750 * 100vw);
			}
		}
		.social-link{
			display: flex;
			gap: 45px;
			margin-top: 35px;
			@include media-screen($tablet){
				gap: calc(96/750 * 100vw);
				margin-top: calc(69/750 * 100vw);
			}
			img{
				width: 25px;
				height: 25px;
				object-fit: contain;
				@include media-screen($tablet){
					width: calc(42/750 * 100vw);
					height: calc(42/750 * 100vw);
				}
			}
		}
	}
}

@keyframes scroll-down {
	0% {
		bottom: 0;
		opacity: 1;

	}
	70%{
		bottom: -60px;
		opacity: 0.8;

	}
	100%{
		opacity: 0;
	}
}